@font-face {
    font-family: "nanumBarunGothicYet";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunGothicYet/nanumBarunGothicYet.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunGothicYet/nanumBarunGothicYet.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunGothicYet/nanumBarunGothicYet.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunGothicYet/nanumBarunGothicYet.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunGothicYet/nanumBarunGothicYet.ttf") format("truetype");
    font-display: swap;
}
.nanumBarunGothicYet {
    font-family: "nanumBarunGothicYet";
}